In [42]:
f = open("wikipedia-biography-dataset/wikipedia-biography-dataset/train/train.title", 'r')

In [43]:
lines = []
while True:
    line = f.readline()
    if not line:
        break
    lines.append(line.strip())
f.close()

In [3]:
lines[0:10]

['walter extra',
 'aaron hohlbein',
 'majda vrhovnik',
 'linda hayden',
 'craig starcevich',
 'joe walter -lrb- footballer -rrb-',
 'ma leilei',
 'henrik gulden',
 'tony steratore',
 'j. p. featherston']

In [4]:
import pandas as pd

In [5]:
Biographies = pd.DataFrame(data=lines, columns=['title'])

In [6]:
Biographies.head()

              title
0      walter extra
1    aaron hohlbein
2    majda vrhovnik
3      linda hayden
4  craig starcevich

In [7]:
f = open("wikipedia-biography-dataset/wikipedia-biography-dataset/train/train.nb", 'r')

In [8]:
lines = []
while True:
    line = f.readline()
    if not line:
        break
    lines.append(line.strip())
f.close()

In [9]:
lines[0:10]

['8', '1', '2', '2', '13', '9', '1', '2', '8', '8']

In [10]:
Biographies['num_str'] = pd.DataFrame(data=lines, columns=['num_str'])

In [11]:
Biographies

                           title num_str
0                   walter extra       8
1                 aaron hohlbein       1
2                 majda vrhovnik       2
3                   linda hayden       2
4               craig starcevich      13
...                          ...     ...
582654             vince mendoza      11
582655            eddy c. bertin       2
582656            michiru Ōshima       5
582657              john strzemp      15
582658  jennifer bertino-tarrant       3

[582659 rows x 2 columns]

In [12]:
f = open("wikipedia-biography-dataset/wikipedia-biography-dataset/train/train.sent", 'r')

In [13]:
lines = []
while True:
    line = f.readline()
    if not line:
        break
    lines.append(line)
f.close()

In [14]:
lines[0:10]

['walter extra is a german award-winning aerobatic pilot , chief aircraft designer and founder of extra flugzeugbau -lrb- extra aircraft construction -rrb- , a manufacturer of aerobatic aircraft .\n',
 'extra was trained as a mechanical engineer .\n',
 'he began his flight training in gliders , transitioning to powered aircraft to perform aerobatics .\n',
 'he built and flew a pitts special aircraft and later built his own extra ea-230 .\n',
 'extra began designing aircraft after competing in the 1982 world aerobatic championships .\n',
 'his aircraft constructions revolutionized the aerobatics flying scene and still dominate world competitions .\n',
 'the german pilot klaus schrodt won his world championship title flying an aircraft made by the extra firm .\n',
 'walter extra has designed a series of performance aircraft which include unlimited aerobatic aircraft and turboprop transports .\n',
 'aaron hohlbein -lrb- born august 16 , 1985 in middleton , wisconsin -rrb- is an american soccer player who is currently without a club .\n',
 'majda vrhovnik -lrb- nom de guerre lojzka -rrb- -lrb- 14 april 1922 -- 4 may 1945 -rrb- was a slovene communist and medical student .\n']

In [15]:
it = 0;
point = 0
texts = []
for num_sent in Biographies['num_str']:
    point += int(num_sent)
    text = []
    while (it < point):
        text.append(lines[it])
        it += 1
        if (it == point):
            texts.append(" ".join(text))

In [16]:
Biographies['sents'] = pd.DataFrame(data=texts, columns=['sents'])

In [17]:
Biographies['sents'][6]

'ma leilei -lrb- ; born march 22 , 1989 in tianjin -rrb- is a chinese football player who currently plays for tianjin teda in the chinese super league .\n'

In [18]:
Biographies

,title,num_str,sents
0,walter extra,8,walter extra is a german award-winning aerobat...
1,aaron hohlbein,1,"aaron hohlbein -lrb- born august 16 , 1985 in ..."
2,majda vrhovnik,2,majda vrhovnik -lrb- nom de guerre lojzka -rrb...
3,linda hayden,2,linda hayden -lrb- born 19 january 1953 -rrb- ...
4,craig starcevich,13,craig starcevich -lrb- born 16 may 1967 -rrb- ...
...,...,...,...
582654,vince mendoza,11,"vince mendoza -lrb- born november 17 , 1961 -r..."
582655,eddy c. bertin,2,eddy c. bertin is a belgian author of adult an...
582656,michiru Ōshima,5,", is a japanese composer who has worked on sev..."
582657,john strzemp,15,"john strzemp , ii -lrb- born 1952 -rrb- is a c..."
582658,jennifer bertino-tarrant,3,jennifer bertino-tarrant is a member of the il...

In [19]:
Biographies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582659 entries, 0 to 582658
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   title    582659 non-null  object
 1   num_str  582659 non-null  object
 2   sents    582659 non-null  object
dtypes: object(3)
memory usage: 13.3+ MB

In [20]:
Biographies.isna().sum()

title      0
num_str    0
sents      0
dtype: int64

In [21]:
Biographies = Biographies.sort_values(by='title', ascending=False)

In [22]:
Biographies['stem_data'] = ''

In [23]:
from nltk.corpus import stopwords
sw_eng = set(stopwords.words('english'))
list(sw_eng)[:6]

["wasn't", 'myself', 'until', 'here', 'very', 'such']

In [24]:
from nltk.stem.snowball import SnowballStemmer

In [25]:
import nltk
nltk.download('averaged_perceptron_tagger')
import numpy as np
from tqdm import tqdm

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/irina.buht12/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [26]:
def stemmer(df):
    stemmer = SnowballStemmer(language='english')
    for i, biography in tqdm(df.iterrows()):
        lemm_biogr = " ".join([stemmer.stem(word) for word in biography['sents'].strip().lower().split()])
        df.at[i, 'stem_data'] = lemm_biogr

In [37]:
import multiprocessing as mp

In [38]:
count_pr = mp.cpu_count() - 1

In [39]:
pool = mp.Pool(processes=count_pr)

In [30]:
Biographies = pd.concat(pool.map(stemmer, np.array_split(Biographies, count_pr)))

In [ ]:
Biographies.to_csv("data.csv")

In [46]:
Biographies

,title,num_str,sents,stem_data
469321,Ỷ lan,5,"Ỷ lan -lrb- hán tự : 倚蘭 , literally `` leaning...","ỷ lan -lrb- hán tự : 倚蘭 , liter `` lean on the..."
568523,Ḫarapšili,1,"Ḫarapšili -lrb- or Ḫarapsili , harapšili ; '' ...","ḫarapšili -lrb- or ḫarapsili , harapšili ; '' ..."
97816,ʿabd al‐wājid,2,badr al‐dīn ʿabd al‐wājid -lrb- or wāḥid -rrb-...,badr al‐dīn ʿabd al‐wājid -lrb- or wāḥid -rrb-...
149131,ʻana taufeʻulungaki,19,dr. ʻana maui taufeʻulungaki is a tongan acade...,dr. ʻana maui taufeʻulungaki is a tongan acade...
320836,ʻaloʻalo liku,3,` alo'alo ki ` ene'io liku -lrb- born 20 febru...,` alo'alo ki ` ene'io liku -lrb- born 20 febru...
...,...,...,...,...
70604,-lrb- the -rrb- cocktail slippers,6,-lrb- the -rrb- cocktail slippers is a five-pi...,-lrb- the -rrb- cocktail slipper is a five-pie...
184763,-lrb- jo -rrb- style,1,style is a japanese adult video -lrb- av -rrb-...,style is a japanes adult video -lrb- av -rrb- ...
345971,+44 -lrb- band -rrb-,10,+44 -lrb- read as plus forty four -rrb- is an ...,+44 -lrb- read as plus forti four -rrb- is an ...
57628,! paus3,2,"!\n paus3 , or thee pause , -lrb- born outside...","! paus3 , or thee paus , -lrb- born outsid ode..."
577429,! action pact !,3,"!\n action pact !\n were a punk rock band , fo...","! action pact ! were a punk rock band , form i..."